.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

@keyframes shake {
  0% {
    transform: translate(10px);
  }
  100% {
    transform: translate(-10px);
  }
}
:root {
  --section-background: #F3F3F3;
  --one-title-color: #252B42;
  --second-text-color: #737373;
  --third-text-color: #FFFFFF;
  --fourth-text-color: #0D5C63;
  --fifth-text-color:#737373;
  --sixth-text-color: #FF7B47;
  --accent-color: #2196F3;
  --one-background: #FAFAFA;
  --second-background: #2F303A;
  --third-background: #17213C;
  --fourth-background: #252B42;
  --btn-background: #FF7B47;
  --fifth-background: #0D5C63;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --card-set-gap: 20px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--one-text-color);
  background-color: var(--one-background);
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  color: var(--second-text-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1440px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 80px;
  padding-bottom: 80px;
}

.button {
  display: inline-block;
  min-width: 200px;
  border: 2px solid transparent;
  text-align: center;
  background-color: var(--accent-color);
  font-family: inherit;
  border-radius: 6px;
  padding: 11px 34px;
}

.header {
  height: 793px;
  position: relative;
  padding-left: 59px;
  padding-right: 59px;
  outline: 1px solid tomato;
  background-image: linear-gradient(rgba(47, 48, 50, 0.4), rgba(47, 48, 50, 0.4)), url(../images/teamm.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.maim-header {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 1322px;
  outline: 1px solid tomato;
}

.logo {
  line-height: 1.5;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.1em;
  font-family: "Montserrat";
  color: var(--one-text-color);
  margin-left: 139px;
}

.header-list {
  display: flex;
  margin-left: 133px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.header-item:not(last-child) {
  margin-right: 21px;
}

.header-link {
  line-height: 1.71;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.2em;
  font-family: "Montserrat";
  color: var(--second-text-color);
}

.hero.container {
  margin-top: 41px;
  outline: 1px solid teal;
}

.hero-wrapp {
  width: 509px;
  margin-left: 139px;
  outline: 1px solid tomato;
  margin-left: 0;
}

.hero-title {
  line-height: 1.37;
  font-size: 58px;
  font-weight: 800;
  letter-spacing: 0.2em;
  font-family: "Montserrat";
  display: inline-block;
  color: var(--first-color);
  margin-bottom: 35px;
}

.hero-text {
  line-height: 1.5;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.2em;
  font-family: "Montserrat";
  width: 376px;
  height: 60px;
  color: var(--second-text-color);
}

.wrapper-button {
  margin-top: 35px;
}

.button-left {
  width: 187px;
  height: 48px;
  border-radius: 37px;
  padding: 10px 36px;
  margin-right: 10px;
  background-color: var(--sixth-text-color);
  color: var(--third-text-color);
}

.button-right {
  width: 157px;
  height: 48px;
  border-radius: 37px;
  padding: 10px 36px;
  border: 1px solid #0D5C63;
}

.practic-container {
  padding-left: 195.5px;
  padding-right: 195.5px;
}

.practic-wrapp {
  width: 1050px;
  outline: 1px solid tomato;
}

.practic-list {
  display: flex;
}

.practic-thumb {
  padding-left: 5px;
  padding-right: 5px;
}

.practic-inner {
  width: 232px;
  height: 203px;
  padding: 30px;
}

.practic-title {
  line-height: 1.42;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.2em;
  font-family: "Montserrat";
  text-align: center;
  margin-bottom: 10px;
  color: var(--one-text-color);
}

.practic-text {
  line-height: 1.42;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.2em;
  font-family: "Montserrat";
  text-align: center;
  width: 472px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  color: var(--second-text-color);
}

.practic-item {
  background-color: #fff;
}
.practic-item:not(:last-child) {
  margin-right: 30px;
}

.practic-subtitle {
  line-height: 1.5;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.1em;
  font-family: "Montserrat";
  color: var(--one-text-color);
}

.practic-subtext {
  line-height: 1.42;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.2em;
  font-family: "Montserrat";
  color: var(--second-text-color);
}

.menu-open,
.menu-close {
  width: 40px;
  height: 40px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
}

.menu-close {
  position: absolute;
  right: 15px;
  top: -37px;
}

.burger {
  position: relative;
  display: block;
}
.menu-open:hover .burger {
  background-color: var(--accent-color);
}

.mob-menu {
  position: fixed;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  padding-top: 48px;
  padding-bottom: 48px;
}
.mob-menu .container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

.mob-menu-item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu-link {
  line-height: 1.17;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 0.02em;
  font-family: "Montserrat";
  text-align: center;
  color: var(--title-text-color);
}

.mob-menu-link--current {
  color: var(--accent-color);
}

.mob-contacs-list {
  margin-bottom: 32px;
}

.mob-contacs-item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-contacs-link {
  line-height: 1.16;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.02em;
  font-family: "Montserrat";
  color: var(--secondary-color);
}

.mob-contacs-tel-link {
  line-height: 1.17;
  font-size: 34px;
  font-weight: 400;
  letter-spacing: 0.02em;
  font-family: "Montserrat";
  text-align: left;
}

.mob-social-list {
  display: flex;
  margin-top: 64px;
}

.mob-social-item:not(:last-child) {
  margin-right: 10px;
}
.mob-social-item:not(:last-child) .mob-social-link {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
  padding-right: 10px;
}

.mob-social-link {
  line-height: 1.22;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.02em;
  font-family: "Montserrat";
  text-align: left;
  color: var(--accent-color);
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.mob-menu.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

@media screen and (min-width: 768px) {
  .icon-menu {
    display: none;
  }
}

.subscride-container {
  outline: 1px solid tomato;
  position: relative;
}

.subscride-section {
  width: 1050px;
  height: 175px;
  outline: 1px solid blue;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 81px;
  align-items: baseline;
  background-color: var(--one-background);
}

.subscride-list {
  display: flex;
}

.subscride-item:not(:last-child) {
  margin-right: 30px;
}

.narrow-border {
  width: 1440px;
  height: 77px;
  background-color: var(--one-title-color);
  margin-left: auto;
  margin-right: auto;
}

.subscride-form {
  position: absolute;
  bottom: -2%;
  left: 15%;
  transform: translate(2%, -15%);
  width: 986px;
  height: 124px;
  background-color: var(--third-background);
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.subscride-label {
  display: inline-block;
  line-height: 1.33;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.1em;
  font-family: "Montserrat";
  width: 266px;
  height: 64px;
  margin: 30px 180px 30px 50px;
  color: var(--third-text-color);
}

.subscride-input {
  width: 333px;
  height: 58px;
  border: 0;
  padding-left: 20px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-bottom: 30px;
}

.subscride-button {
  display: inline-block;
  align-items: center;
  width: 117px;
  height: 58px;
  background-color: var(--sixth-text-color);
  margin-left: 0;
  border: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.subscride-input::placeholder {
  margin-left: 20px;
}

/* .feature-item::before{
  content: '';
  display: block;
  height: 120px;
  margin-bottom: 30px;

 background-repeat:no-repeat;
 background-size:contain;
 background-position:center;

} */
/* .feature-item:nth-child(1)::before{
background-image: url(./icon-svg/antenna\ 1\ \(2\).svg);

}
.feature-item:nth-child(2)::before {
  background-image: url(./icon-svg/astronaut\ 1\ \(2\).svg);

}
.feature-item:nth-child(3)::before {
  background-image: url(./icon-svg/clock\ 1\ \(3\).svg);

}
.feature-item:nth-child(4)::before {
  background-image: url(./icon-svg/diagram\ 1\ \(2\).svg);

} */
.who-container {
  padding-left: 195.5px;
  padding-right: 195.5px;
}

.who-wrapp {
  width: 1050px;
  outline: 1px solid tomato;
  padding-top: 100px;
  padding-bottom: 100px;
}

.who-title {
  line-height: 1.42;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.2em;
  font-family: "Montserrat";
  width: 333px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  color: var(--one-text-color);
}

.who-text {
  line-height: 1.42;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.2em;
  font-family: "Montserrat";
  text-align: center;
  width: 511px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  color: var(--second-text-color);
}

.who-wrapper {
  display: flex;
}

.who-inner {
  margin-left: 120px;
}

.who-subtitle {
  line-height: 1.42;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.2em;
  font-family: "Montserrat";
  font-family: "Montserrat";
  width: 370px;
  margin: 0;
  margin-bottom: 10px;
  color: var(--one-text-color);
}

.who-subtext {
  line-height: 1.42;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.2em;
  font-family: "Montserrat";
  margin: 0;
  margin-bottom: 50px;
  width: 360px;
}

.who-caption {
  line-height: 1.5;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.1em;
  font-family: "Montserrat";
  width: 286px;
  color: var(--one-text-color);
}

.who-mintitle {
  line-height: 1.42;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.2em;
  font-family: "Montserrat";
  color: var(--second-text-color);
  margin-left: 52px;
}
.who-mintitle:not(:last-child) {
  margin-bottom: 30px;
}

.who-caption {
  margin-left: 30px;
  margin-bottom: 5px;
}

.who-icon-wrapp {
  display: flex;
}

.section-team {
  background-color: #f5f4fa;
}

.team-title {
  line-height: 1.16;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0.1em;
  font-family: "Montserrat";
  margin-bottom: 30px;
  text-align: center;
}
@media screen and (min-width: 1199px) {
  .team-title {
    line-height: 1.16;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.1em;
    font-family: "Montserrat";
  }
}

.team-items {
  text-align: center;
  margin-bottom: -30px;
}
@media screen and (min-width: 768px) {
  .team-items {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.team-img {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team-img {
    flex-basis: calc(50% - 30px);
    margin-left: 30px;
    width: 100%;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1199px) {
  .team-img {
    flex-basis: calc(25% - 30px);
    margin-left: 30px;
    width: 100%;
    margin-bottom: 30px;
  }
}

.team-items.team-img {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #ffffff;
}

.present-team {
  line-height: 1.18;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.1em;
  font-family: "Montserrat";
  color: var(--title-text-color);
}

.team-text {
  line-height: 1.18;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.1em;
  font-family: "Montserrat";
  margin-top: 10px;
  margin-bottom: 16px;
  color: var(--secondary-color);
}

.card-thumb {
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: white;
  text-align: center;
}
@media screen and (min-width: 1199px) {
  .card-thumb {
    width: 100%;
  }
}

@media screen and (min-width: 1199px) {
  .capd-img {
    width: 270px;
    height: 260px;
  }
}

.support {
  padding-left: 195px;
  padding-right: 195px;
}

.support-section {
  width: 1050px;
  outline: 1px solid tomato;
  padding-left: 32px;
  padding-right: 32px;
  background-color: var(--section-background);
}

.support-title {
  line-height: 1.42;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.1em;
  font-family: "Montserrat";
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  color: var(--one-title-color);
}

.support-text {
  line-height: 1.42;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.2em;
  font-family: "Montserrat";
  width: 470px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  color: var(--second-text-color);
}

.support-list {
  display: flex;
}

.support-item {
  width: 328px;
  height: 333px;
  margin: 0;
  background-color: #fff;
}

.item {
  padding: 40px 50px;
  outline: 1px solid blue;
  margin-top: 30px;
  margin-bottom: 30px;
}

.support-icom {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

.support-limk {
  line-height: 1.71;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.1px;
  font-family: "Montserrat";
  display: block;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: var(--one-title-color);
}

.support-limk.botton {
  margin-bottom: 15px;
}

.support-subtitle {
  line-height: 1.5;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.1em;
  font-family: "Montserrat";
  text-align: center;
  margin-bottom: 15px;
  color: var(--one-title-color);
}

.support-button {
  line-height: 1.71;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.2px;
  font-family: "Montserrat";
  padding: 10px 20px;
  display: block;
  width: 160px;
  height: 44px;
  text-align: center;
  border: 1px solid var(--sixth-text-color);
  border-radius: 5px;
  color: var(--sixth-text-color);
  margin-left: auto;
  margin-right: auto;
}

/* .clients-wrap>.clients-link:nth-child(1){
  background-image: url(./icon-svg/astronaut\ 1\ \(2\).svg);
}
.clients-wrap>.clients-link:nth-child(2) {
  background-image: url(./icon-svg/astronaut\ 1\ \(2\).svg);
}
.clients-wrap>.clients-link:nth-child(3) {
  background-image: url(./icon-svg/clock\ 1\ \(3\).svg);
}
.clients-wrap>.clients-link:nth-child(4) {
  background-image: url(./icon-svg/astronaut\ 1\ \(2\).svg);
}
.clients-wrap>.clients-link:nth-child(5) {
  background-image: url(./icon-svg/astronaut\ 1\ \(2\).svg);
}
.clients-wrap>.clients-link:nth-child(6) {
  background-image: url(./icon-svg/astronaut\ 1\ \(2\).svg);
}
.clients-wrap>.clients-link:nth-child(7) {
  background-image: url(./icon-svg/astronaut\ 1\ \(2\).svg);
}
.clients-wrap>.clients-link:nth-child(8) {
  background-image: url(./icon-svg/astronaut\ 1\ \(2\).svg);
}
.clients-link{
  margin-right: 20px;
} 

*/
.experiense {
  position: absolute;
  top: 723px;
  width: 1046px;
  margin-left: 128px;
}

.experiense-list {
  display: flex;
}

.experiense-title {
  line-height: 1.33;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.1em;
  font-family: "Montserrat";
  margin-bottom: 10px;
  color: var(--one-text-color);
}

.experiense-item {
  width: 328px;
  padding: 35px 40px;
  background-color: #fff;
}
.experiense-item:not(:last-child) {
  margin-right: 30px;
}

.experiense-item.right {
  background-color: var(--fifth-background);
}

.experiense-icon {
  margin-bottom: 10px;
}

.consultimg {
  padding-left: 195px;
  padding-right: 195px;
}

.consulting-section {
  display: flex;
  justify-content: space-between;
  width: 1050px;
  height: 142px;
  padding-top: 40px;
  padding-bottom: 40px;
  outline: 1px solid tomato;
  background-color: var(--one-background);
}

.consulting-title {
  line-height: 1.33;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.1px;
  font-family: "Montserrat";
  color: var(--one-title-color);
}

.consulting-text {
  line-height: 1.42;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.2px;
  font-family: "Montserrat";
  color: var(--second-text-color);
}

.consulting-wrapp-right {
  width: 236px;
  height: 58px;
  padding-left: 36px;
  padding-right: 36px;
}

.consulting-button {
  line-height: 2;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.2px;
  font-family: "Montserrat";
  text-align: center;
  border-radius: 5px;
  border: none;
  width: 163px;
  height: 58px;
  padding: 15px, 40px, 15px, 40px;
  background-color: var(--sixth-text-color);
  color: var(--third-text-color);
}

.designing-container {
  margin-top: 165px;
}

.designing-wrapp {
  width: 1050px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid yellow;
  background-color: var(--one-background);
}

.designing-title {
  line-height: 1.42;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.2em;
  font-family: "Montserrat";
  text-align: center;
  margin-bottom: 10px;
  color: var(--one-text-color);
}

.designing-text {
  display: block;
  line-height: 1.42;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.2em;
  font-family: "Montserrat";
  text-align: center;
  width: 541px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  color: var(--second-text-color);
}

.designing-subtitle {
  line-height: 1.42;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.2em;
  font-family: "Montserrat";
  color: var(--one-text-color);
}

.designing-subtext {
  line-height: 1.5;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.1em;
  font-family: "Montserrat";
  text-align: center;
  color: #737373;
}

.designing-list {
  display: flex;
  width: 1050px;
  justify-content: center;
}

.designing-item {
  padding: 30px 40px;
  background-color: #fff;
}
.designing-item:not(:last-child) {
  margin-right: 30px;
}

.designing-icon {
  display: inline-block;
  margin-left: 50px;
}

.designing-icon.icon {
  display: inline-block;
  margin-left: 40px;
}

/* 
 * Override or add new styles for blocks on wider screens.
 */
.form {
  margin: 30px;
}

.form-one {
  display: block;
  width: 600px;
  outline: 1px solid tomato;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.form-imput {
  width: 300px;
  padding-left: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.form-radio-list {
  display: flex;
}

.form-label {
  position: relative;
}

.form-imput {
  padding: 10px;
}

.form-radio-item:not(:last-child) {
  margin-bottom: 10px;
}

.form-one-icon::before,
.form-one-icon::after {
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  background-size: contain;
}

.form-one-icon::before {
  background-color: red;
}

.form-one-icon:hover::before {
  transform: translateY(-35px);
}

.form-one-icon::after {
  position: absolute;
  top: 50%;
  left: 20px;
  background-color: green;
  transform: translateY(calc(-50% + 35px));
}

.form-one-icon:hover::after,
.form-one-icon:focus::after {
  transform: translateY(-50%);
}/*# sourceMappingURL=main.css.map */