.clients-title{
@include font($fw: 700, $fz: 28px, $lh: 1.16);
  margin-bottom: 30px;
  text-align: center;
  color:var(--primary-title-color);
}
.clients-list {
  
      margin-bottom: -30px;
      margin-left: -30px;
      display: flex;
      flex-wrap: wrap;
    }
  


.clients-item {
    height: 90px;
      flex-basis: calc(100% / 2 - 30px);
      margin-left: 30px;
      margin-bottom: 30px;
      @media screen and(min-width:768px) {
      flex-basis: calc(100% / 3 - 30px);
      }
             @media screen and(min-width:1199px) {
               flex-basis: calc(100% / 6 - 30px);
             }
}




.clients-link {
    display: flex;
    
    width: 100%;
    height: 92px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid #afb1b8;

    color: #afb1b8;
    &:not(:last-child) {
        margin-right: 30px;
      }
            &:hover,
            &:focus {
              border-color: var(--accent-color);
              color: var(--accent-color);
            }
                         @media screen and(min-width:1199px) {
                           width: 170px;
                         }

}
// .clients-link:not(:last-child) {
//     margin-right: 30px;
// }



// .clients-link:hover,
// .clients-link:focus {
//     border-color: var(--accent-color);
//     color: var(--accent-color);
// }

.clients-icon {
    fill: currentColor;
}

/* .clients-wrap>.clients-link:nth-child(1){
  background-image: url(./icon-svg/astronaut\ 1\ \(2\).svg);
}
.clients-wrap>.clients-link:nth-child(2) {
  background-image: url(./icon-svg/astronaut\ 1\ \(2\).svg);
}
.clients-wrap>.clients-link:nth-child(3) {
  background-image: url(./icon-svg/clock\ 1\ \(3\).svg);
}
.clients-wrap>.clients-link:nth-child(4) {
  background-image: url(./icon-svg/astronaut\ 1\ \(2\).svg);
}
.clients-wrap>.clients-link:nth-child(5) {
  background-image: url(./icon-svg/astronaut\ 1\ \(2\).svg);
}
.clients-wrap>.clients-link:nth-child(6) {
  background-image: url(./icon-svg/astronaut\ 1\ \(2\).svg);
}
.clients-wrap>.clients-link:nth-child(7) {
  background-image: url(./icon-svg/astronaut\ 1\ \(2\).svg);
}
.clients-wrap>.clients-link:nth-child(8) {
  background-image: url(./icon-svg/astronaut\ 1\ \(2\).svg);
}
.clients-link{
  margin-right: 20px;
}  */