// .contacs .list{
// margin-left: auto;
//     display: none;

//     @media screen and (min-width: 768px) {
//         display: block;
//         margin-left: auto;
//     }

//     @media screen and (min-width: 1200px) {
//         display: flex;
//     }
// }
// .contacs .item {
//     display: flex;
//     align-items: center;
//     display: flex;
//       &:not(:last-child) {
//             margin-right: 30px;
//         }
    
//         @media screen and (min-width: 768px) {
//             &:not(:last-child) {
//                 margin-bottom: 10px;
//                 margin-right: 0;
//             }
    
//             @media screen and (min-width: 1200px) {
//                 align-items: baseline;
//                 display: flex;
//                 margin-bottom: 0;
    
//                 &:not(:last-child) {
//                     margin-right: 30px;
//                     margin-bottom: 0;
//                 }
//             }
//         }


        
// }




// .contacs {
// & .contact-link:hover {
//     color: var(--accent-color);
// }
// }



// .contacs-link {
//     @include font($fw:500,$ls:0.02em);
//     display: flex;
//     align-items: center;
//     padding-top: 32px;
//     padding-bottom: 32px;

//     // font-size: 14px;
//     // font-weight: 500;
//     // line-height: 1.14;
//     // letter-spacing: 0.02em;
//     @media screen and (min-width: 768px) {
//             display: flex;
//             padding-top: 0;
//             padding-bottom: 0;
//         }
    
//         @media screen and (min-width: 768px) {
//             display: flex;
//         }

// }
// .contacs__icon {
//     margin-right: 10px;
//     fill: currentColor;
//     width: 14px;
//     height: 10px;

//     @media screen and (min-width: 768px) {
//         &:nth-child(1) {
//             width: 14px;
//             height: 10px;
//         }

//         &:nth-child(2) {
//             width: 10px;
//             height: 14px;
//         }
//     }

//     @media screen and (min-width: 1200px) {
//         &:nth-child(1) {
//             width: 16px;
//             height: 12px;
//         }

//         &:nth-child(2) {
//             width: 10px;
//             height: 16px;
//         }
//     }
// }

// .icon-mail {
//     fill: currentColor;
//     margin-right: 10px;
//     @media screen and (min-width: 768px) {
           
//                 width: 14px;
//                 height: 10px;
          
    
//             &:nth-child(2) {
//                 width: 10px;
//                 height: 14px;
//             }
//         }
    
//         @media screen and (min-width: 1200px) {
          
//                 width: 16px;
//                 height: 12px;
          
    
           
//         }
  

// }

// .icon-phone {
//     fill: currentColor;
//     margin-right: 10px;
//     width: 10px;
//     height: 14px;
//     @media screen and (min-width: 768px) {
         
    
           
//                 width: 10px;
//                 height: 14px;
            
//         }
    
//         @media screen and (min-width: 1200px) {
          
    
        
//                 width: 10px;
//                 height: 16px;
        
//         }
   
// }
// .icon-phone-test{
// @media screen and (min-width:768px) {
//         width: 14px;
//         height: 16px;
//     }

//     @media screen and (min-width:1200px) {
//         width: 16px;
//         height: 12px;
//     }
// }
// .icon-mail-test{
// @media screen and (min-width:768px) {
//         width: 10px;
//         height: 14px;
//     }

//     @media screen and (min-width:1200px) {
//         width: 10px;
//         height: 16px;
//     }
// }

// new version

.contacs__link {
    @include font();
    display: flex;
    align-items: center;
    color: var(--secondary-color);
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms var(--timing-function);

    @media screen and (min-width: 768px) {
        display: flex;
        padding-top: 0;
        padding-bottom: 0;
    }

    @media screen and (min-width: 768px) {
        display: flex;
    }
}

.contacs__link:hover,
.contacs__link:focus {
    color: var(--accent-color);
}

.contacs {
    margin-left: auto;
    display: none;

    @media screen and (min-width: 768px) {
        display: block;
        margin-left: auto;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
    }
}

.contacs__items {
    display: flex;
    align-items: center;

    &:not(:last-child) {
        margin-right: 30px;
    }

    @media screen and (min-width: 768px) {
        &:not(:last-child) {
            margin-bottom: 10px;
            margin-right: 0;
        }

        @media screen and (min-width: 1200px) {
            align-items: baseline;
            display: flex;
            margin-bottom: 0;

            &:not(:last-child) {
                margin-right: 30px;
                margin-bottom: 0;
            }
        }
    }
}

.contacs__icon {
    margin-right: 10px;
    fill: currentColor;
    width: 14px;
    height: 10px;

    @media screen and (min-width: 768px) {
        &:nth-child(1) {
            width: 14px;
            height: 10px;
        }

        &:nth-child(2) {
            width: 10px;
            height: 14px;
        }
    }

    @media screen and (min-width: 1200px) {
        &:nth-child(1) {
            width: 16px;
            height: 12px;
        }

        &:nth-child(2) {
            width: 10px;
            height: 16px;
        }
    }
}