
.footer-form{
    margin-left: 93px;
}
.footer-form-text {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--third-color-text);
    @media screen and(min-width: 320px) and(max-width: 768px) {
            text-align: center;
    
        }
}

.footer-form-input {
@include font($fz: 16px, $lh: 1.25);
    // width: 358px;
    height: 50px;
    // font-size: 16px;
    // font-weight: 400;
    // line-height: 1.25;
    // letter-spacing: 0.03em;
    text-align: left;
    border-radius: 4px;
    box-sizing: border-box;
    // margin-right: 12px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: #2f303a;
    padding: 15px;
    outline: none;
@media screen and(min-width: 320px) and(max-width: 768px) {
        text-align: center;
        width: 100%;
        margin-bottom: 20px;

    }

}

/* .footer-form-input::placeholder{
  padding: 18px 15px;
} */
.footer-form-button {
    @include font($fw: 700, $fz: 16px, $lh:1.87,$ls: 0.06em) ;
    display: inline-flex;
    width: 200px;
    height: 50px;
    margin-left: 12px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

   align-items: center;
    text-align: center;
    @media screen and(min-width: 320px) and(max-width: 768px) {
        display: block;
           margin-left: auto;
           margin-right: auto;
      
    
        }
  
}

.footer-form-icon {
    fill: #E5E5E5;
    padding: 0 auto;
    margin-left: 12px;
}