html {
    box-sizing: border-box
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-title-color);
    // width: 100vw;
    // height: 100vh;
    // background-color: tomato;

}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.section-title {
    color: var(--primary-title-color);
}

h1,
h2,
h3,
h4,
h5,
p {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--primary-title-color);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
