:root {
    --section-background: #F3F3F3;
    --one-title-color: #252B42;
    --second-text-color: #737373;
    --third-text-color: #FFFFFF;
    --fourth-text-color: #0D5C63;
    --fifth-text-color:#737373;
    --sixth-text-color: #FF7B47;
    --accent-color: #2196F3;
    
    --one-background: #FAFAFA;;
   
    --second-background: #2F303A;
    --third-background: #17213C;
    --fourth-background: #252B42;
    --btn-background: #FF7B47;
    --fifth-background: #0D5C63;
    
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    --card-set-gap: 20px;



}
// $primary-title-color: #212121;
// $main-text-color: #757575;
// $accent-color: #2196F3;
// $second-text-color: #757575;
// $third-color-text: #FFFFFF;
// $one-background: #E5E5E5;
// $second-background: #2F303A;
// $third-background: #FFFFFF;

// $timing-function: cubic-bezier(0.4, 0, 0.2, 1);

// @media (min-width:800px) {
//     body {
//         background-color: orange;
//     }
// }